                        <ul class="footer_nav">
                          <h4>Get Social</h4>
                          <li><a href="/Email"><%= image_tag "icons/32x32/email.png" %></a></li>
                          <li><a href="/Facebook"><%= image_tag "icons/32x32/facebook.png" %></a></li>
                          <li><a href="/Twitter"><%= image_tag "icons/32x32/twitter.png" %></a></li> 
                        </ul>