<% if !@sports.nil? && !@region.nil? %>
  <div class="left_sport_list">
    <ul>
      <h3>Select Sport</h3>
      <% @sports.each do |sport| %>
      <li><%= link_to sport.sport_name, "/"+@region.region_name+"/"+sport.sport_name+"/" %></li>
      <% end %>
    </ul>
  </div>
<% end %>