/* The main CSS file */

/* Body, background and div sizes needed for all pages */
body {
    background: #39414a url(/stv-header.png) repeat-x 50% 0;
    padding-top: 0px;
}

.row {
    margin-right: -20px;
}

[class*="span"] {
    margin-left: 0px;
}

.left_content{
    padding-top: 10px;
    width: 220px;
}

.left_sport_list, .left_advertisment, .left_region_list, .left_page_list, .left_news_feed{
    border-bottom: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    padding-top: 10px;
}

.right_content{
    padding-top: 10px;
    border-left: 1px solid #E0E0E0;
    width: 758px;
    min-height: 600px;  
}

.main{
    font-family: Verdana, sans-serif;
    background: white;
}

header {
    height: 156px;
    color: #fff;	
}
header h1 {
    line-height: 80px;
    font-size: 50px;
    font-family: sans-serif;
}
header img {
    vertical-align: 0px;
}
header p {
    font-size: 24px;
}
header a:link{
    text-decoration: none;
    color: #ffffff;
}
header a:visited{
    text-decoration: none;
    color: #ffffff;
}
header a:active{
    text-decoration: none;
    color: #ffffff;
    background-color: transparent;
}
header a:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: transparent;
}

.centre{
    text-align:center;
}

pre{
    margin-right: 10px;
}

.advertisment{
    font-size: 9px;
    margin-bottom: 0px;
    text-align: center;
}

.left_content h4 {
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}

.left_content ul, .left_content img{
    margin-left: 10px;
    margin-bottom: 10px;
}

.left_content li{
    list-style: none;
    font-size: 11px;
}

.left_content a:link{
	text-decoration: none;
	color: black;    
}
.left_content a:visited{
	text-decoration: none;
	color: black; 
}
.left_content a:active{
	color: black;    
}
.left_content a:hover{
	text-decoration: underline;
	color: black;
        background-color: transparent;
}

.left_news_feed li{
    padding-bottom: 10px;
}

.left_news_feed a:link{
    color: #00E;
    text-decoration: underline;
    cursor: auto;
}

.left_news_feed a:visited{
    color: #551A8B;
}

.left_news_feed a:hover {
    color: #06E;
}

.left_bottom{
    min-height: 10px;
    border-right: 1px solid #E0E0E0;
}



.right_content p{
    font-size: 11px;
    margin-left: 16px;
}

.right_content img{
    margin-left: 16px;
    margin-bottom: 16px;
}

.right_content a:link{
	text-decoration: none;
	color: black;    
}
.right_content a:visited{
	text-decoration: none;
	color: black; 
}
.right_content a:active{
	color: black;    
}
.right_content a:hover{
	text-decoration: underline;
	color: black;
        background-color: transparent;
}

.upper_footer{
    font-family: Verdana, sans-serif;
    color: #636363;
    font-size: 11px;
    line-height: 1.4;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    background: #f8f8f8;
    min-height: 100px;
}

.lower_footer{
    font-family: Verdana, sans-serif;
    color: #636363;
    font-size: 11px;
    line-height: 1.4;   
    background: white;
    min-height: 20px;
}

.footer_nav  {
    position: relative;
    float: left;
    width: 164px;
    margin: 20px 10px;
}

.footer h4 {
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border-bottom: thin solid #E1E1E1;
}

.footer li{
    list-style: none;
}

.footer img{
    margin-bottom: 2px;
}


/* CODE FOR THE DATA TABLE LAYOUT */
table.program{
	background-color: #fafafa;
	border: 1px #000000 solid;
	border-collapse: collapse;
	border-spacing: 2px;
	width: 728px;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 16px;
	font-size: 11px;
    }
col.col_time{
	width: 7%;
    }
col.col_title{
	width: 48%;
    }
col.col_sport{
	width: 13%;
    }
col.col_channel{
	width: 32%;
    }
.program_header{
	background-color: #3266e6;
	border-top: 1px #000000 solid;
	border-bottom: 1px #000000 solid;
	font-weight: bold;
        font-size: 11px;
	color: #fafafa;
	text-align: left;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 0px;
    }
tr.program{
	background-color: #fafafa;
    }
tr.program:hover{
	background-color: #EEEEEE;
    }
td.program{
	border-bottom: 1px #6699CC dotted;
	text-align: left;
	vertical-align: middle;
	color: #404040;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
        font-size: 11px;
    }