  <div class="container">
    <div class="row main">
      <div class="span2 left_content">
        <p>test</p>
      </div>
      <div class="span10 right_content">
        <p>Sport On Television provides sports guide information for the following regions:</p>
        <ul>
        <% @regions.each do |region| %>
          <li><%= link_to region.region_name, "/"+region.region_name %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>