  <div class="container">
    <div class="row main">
      <div class="span2 left_content">
        <p>test</p>
      </div>
      <div class="span10 right_content">
        <p>The current region is <%= @region.region_name %></p>
        
        <p> The current programs for the region are</p>
        <ul>
        <% @current_programs.each do |program| %>
          <li><%= program.title %></li>
        <% end %>
        <ul>
        
        </ul>
      </div>
    </div>
  </div>