<div class="container">
  <div class="row main">
    <div class="span2 left_content">
      <%= render "layouts/body_left" %>  
    </div>
    <div class="span10 right_content">
      <%= render "layouts/body_right" %> 
    </div>
  </div>
</div>
