<div class="container">
      <footer class="footer">
            <div class="row upper_footer">
                  <div class="span12">
                        <ul class="footer_nav">
                              <h4>Sport On TV</h4>
                              <li><a href="/">Home</a></li>
                              <li><a href="/About">About</a></li>
                              <li><a href="/Contact">Contact</a></li>
                              <li><a href="/Privacy">Privacy</a></li>
                              <li><a href="/Login">Login</a></li> 
                        </ul>
                        <ul class="footer_nav">
                              <h4>Change Region</h4>
                              <li><a href="/Adelaide">Adelaide</a></li>
                              <li><a href="/Brisbane">Brisbane</a></li>
                              <li><a href="/Melbourne">Melbourne</a></li>
                              <li><a href="/Perth">Perth</a></li>
                              <li><a href="/Sydney">Sydney</a></li>
                        </ul>
                        
                        <ul class="footer_nav">
                              <h4>Get Social</h4>
                              <li><a href="/Email"><%= image_tag "icons/32x32/email.png" %></a></li>
                              <li><a href="/Facebook"><%= image_tag "icons/32x32/facebook.png" %></a></li>
                              <li><a href="/Twitter"><%= image_tag "icons/32x32/twitter.png" %></a></li>
                              
                        </ul>
                  </div>
            </div>
            <div class="row lower_footer">
                  <div class="span12">
                        <%= debug params %>
                  </div>
            </div>
      </footer>
</div>