  <div class="container header">
    <div class="row">
      <header class="centre">
        <h1><img height=39 width=39 src="/stv-logo-39x39.png" alt="Sport on TV logo"> <a href="/">SPORT ON TV</a></h1>
        <p>Your source for sport on television in Australia</p>
        <form class="form-search pull-right">
          <div class="input-append">
            <input type="text" class="span2 search-query">
            <button type="submit" class="btn">Search</button>
          </div>
        </form>
      </header>
    </div>
  </div>
